<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Template</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>This is a test, yo.</h2>

<h2>Here's how you set up and push to Heroku.</h2>

<ul>
<li>git init</li>
<li>heroku login</li>
<li>heroku create</li>
<li>echo "web: node server.js" > Procfile</li>
<li>git add . </li>
<li>git commit -m "changes"</li>
<li>git push heroku main</li>
</ul>

<h1>AOE4 Units</h1>
    <!-- <ul class="rappers"> -->
    <form action="/seeUnit" method="GET">
        <select id = "selectNumberOne">
            <% for(let i=0; i < info[0].data.length; i++) {%>
                <!-- <li class="rapper"> -->
                <!-- <p><%= JSON.stringify(info[0].data[i].id) %></p> -->
                <!-- <p><%= JSON.stringify(info[0].data[i].classes[i]) %></p> -->
            
                <option id="selectedUnit" value="#" name="unitName"> <%= JSON.stringify(info[0].data[i].id)  %> </option>
            
            
            <% } %>    
        <!-- </li> -->
        </select>
        <button id="submit" type="submit">Submit</button>
    </form>
    
    
    <h3 id="selectedUnitInfo2"><%= info2 %></h3>
    </ul>

<script src="/Full-stack-template/public/main.js"></script>
</body>
</html>