*{
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    color: white;
    background-color: black;
    background: linear-gradient(70deg, black, grey);
    background-repeat: no-repeat;
    

    
}

form{
    display:block;
}

section{
    
    padding: 15px;
    
    width: 100%;
    
}


#divOne{
    width: 50%;
    
    margin: 10px;
    
    
    justify-content: center;
    border: grey 5px solid;
    max-width:fit-content;
    min-width:fit-content;
    border-radius: 10px;
}

#divTwo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#divThree{
    display: flex;
    justify-content: center;
}


#divFour{
    
    align-items: center;
    display: flex;
    justify-content: center;
}

h1, h2{
    letter-spacing: 5px;
    border: 2px grey solid;
    font-weight: 200;
}

.hidden{
    display: none;
}
